
@model ITRootsTask.Models.User
@{
    Layout = null;
}
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer;
@inject Microsoft.Extensions.Options.IOptions<Microsoft.AspNetCore.Builder.RequestLocalizationOptions> locOptions;
@{
    var culture = Context.Features.Get<Microsoft.AspNetCore.Localization.IRequestCultureFeature>();
    var currentCulture = culture.RequestCulture.UICulture.Name;
    var arabicCulture = locOptions.Value.SupportedUICultures.FirstOrDefault(x => x.Name == "ar");
    var englishCulture = locOptions.Value.SupportedUICultures.FirstOrDefault(x => x.Name == "en");
    var direction = currentCulture == "ar" ? "rtl" : "ltr";
}
<!DOCTYPE html>
<html lang="@culture.RequestCulture.UICulture.Name" dir="@direction">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - ITRootsTask</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ITRootsTask.styles.css" asp-append-version="true" />
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>

</head>
<body>

    <div class="container mt-5">
        <div class="row justify-content-center ">
            <div class="col-md-5 bg-light p-4 rounded">
                <form asp-action="Login" method="post" class="">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <h3 class="text-center mb-4">@localizer["Log In"]</h3>
                    <div class="form-group mb-3">
                        <label class="control-label">@localizer["UserName"]</label>
                        <input asp-for="UserName" class="form-control " />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>   
                    <div class="form-group mb-3">
                        <label class="control-label">@localizer["Password"]</label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-3">
                        <!-- Select User Types but with Localizer of the output-->
                        <label class="control-label">@localizer["UserType"]</label>
                        <select asp-for="UserType" class="form-control">
                            <option value="">@localizer["Select User Type"]</option>
                            @foreach (var userType in Enum.GetValues(typeof(UserType)))
                            {
                                <option value="@userType">@localizer[userType.ToString()]</option>
                            }
                        </select>
                        <span asp-validation-for="UserType" class="text-danger"></span>
                    </div>

                    <div class="form-group text-center">
                        <input type="submit" value="@localizer["Sign In"]" class="btn btn-primary btn-block mt-4" />
                    </div>
                </form>
                <form asp-action="ChangeLanguage" asp-controller="Account" method="post">
                    @if (currentCulture == "ar")
                    {
                        <button type="submit" name="culture" value="@englishCulture.Name" class="btn btn-outline-secondary py-1 px-3">
                        
                            <img src="~/img/translation_(arabic).png" width="35px"/>

                        </button>
                    }
                    else
                    {
                        <button type="submit" name="culture" value="@arabicCulture.Name" class="btn btn-outline-secondary py-1 px-3">
                            <img src="~/img/translation_(arabic).png" width="35px" />
                        </button>
                    }
                </form>
                <p class="text-center mt-4">@localizer["Not a Member ?"] <a class="btn btn-primary" asp-action="Register">@localizer["Register"]</a></p>

                <!--After Successful Message Verification-->
                <p class="text-success">  @TempData["SuccessMessage"]</p>
            </div>
        </div>
    </div>

    <!-- Bootstrap Bundle JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>